.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.container-input {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0);
  background: rgb(103 103 103 / 80%);
  text-align: center;
}

h2 {
  color: #1e067b;
}

.btn-activate {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

@media (max-width: 520px) {
  .container {
    /*font-size: .8rem;*/
  }
}
