.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login-container {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0);
  background: rgb(103 103 103 / 80%);
}

.form-header {
  text-align: center;
}

.form-header > h1 {
  color: #1e067b;
  text-decoration: underline;
}

.form-header > h2 {
  color: #0d082d;
}

.login-form {
  display: flex;
  min-width: 352px;
  flex-direction: column;
  gap: 1rem;
}

.register-info {
  margin-top: 1rem;
}

.login-info {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.register-info span, .login-info span  {
  font-size: 18px;
  color: #1e067b;
  border-bottom: 1px solid;
  cursor: pointer;
  font-weight: 900;
}

.register-info span:hover, .login-info span:hover {
  color: #170557;
  border-bottom: 1px solid #170557;
}

.password-forgot {
  margin-top: 1rem;
  text-align: right;
  color: #390303 !important;
  border: none;
}

.password-forgot:hover {
  color: #910b0b !important;
  border: none;
}

@media (max-width: 460px) {
  .login-form, .login-container, .register-info span {
    padding: 1rem;
  }

  .login-form {
    gap: 0.5rem;
  }
}
