<div class="container">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="auth()" class="login-form">
      <div>
        @if(loginMode) {
        <div class="form-header">
         <h1>ChatApp</h1>
         <h2>Logowanie</h2>
        </div>
        } @else {
        <div class="form-header">
         <h1>ChatApp</h1>
         <h2>Rejestracja</h2>
        </div>
        }
      </div>

      <div>
        <p-floatlabel variant="on">
          <input style="width: 100%" formControlName="email" pInputText>
          <label>Email</label>
        </p-floatlabel>
        <small class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span class="error-msg" *ngIf="loginForm.get('email')?.errors?.['required']">Email jest wymagany.</span>
          <span class="error-msg" *ngIf="loginForm.get('email')?.errors?.['email']">Podaj poprawny adres email.</span>
        </small>
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-password formControlName="password" autocomplete="true" [toggleMask]="true" [feedback]="false"/>
          <label>Hasło</label>
        </p-floatlabel>
        <small class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span class="error-msg" *ngIf="loginForm.get('password')?.errors?.['required']">Hasło jest wymagane.</span>
          <span class="error-msg" *ngIf="loginForm.get('password')?.errors?.['minlength']">Hasło musi mieć co najmniej 5 znaków.</span>
        </small>
      </div>

      <div>
        @if(loginMode) {
        <p-button label="Zaloguj" type="submit" [disabled]="!loginForm.valid"/>
        } @else {
        <p-button label="Zarejestruj" type="submit" [disabled]="!loginForm.valid"/>
        }
      </div>
    </form>

    <div [ngClass]="loginMode ? 'login-info ' : 'register-info'">
      @if(loginMode) {
      <div><span (click)="loginMode = !loginMode">Nie masz konta? Zarejestruj się!</span></div>
      <div><span (click)="resetPassword()" class="password-forgot">Zapomniałeś hasła ?</span></div>
      } @else{
      <span (click)="loginMode = !loginMode">Masz konto? Zaloguj się!</span>
      }
    </div>
  </div>
</div>
