<div class="container">
  <div class="reset-container">
    <form [formGroup]="restartForm" (ngSubmit)="restart()" class="restart-form">
      <div>
        <div class="form-header">
          <h2>Resetowanie hasła</h2>
        </div>
      </div>
      <div>
        <p-floatlabel variant="on">
          <input style="width: 100%" formControlName="email" pInputText>
          <label>Email</label>
        </p-floatlabel>
        <small class="error-message" *ngIf="restartForm.get('email')?.invalid && restartForm.get('email')?.touched">
          <span class="error-msg" *ngIf="restartForm.get('email')?.errors?.['required']">Email jest wymagany.</span>
          <span class="error-msg" *ngIf="restartForm.get('email')?.errors?.['email']">Podaj poprawny adres email.</span>
        </small>
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-password formControlName="password" autocomplete="true" [toggleMask]="true" [feedback]="false"/>
          <label>Hasło</label>
        </p-floatlabel>
        <small class="error-message" *ngIf="restartForm.get('password')?.invalid && restartForm.get('password')?.touched">
          <span class="error-msg" *ngIf="restartForm.get('password')?.errors?.['required']">Hasło jest wymagane.</span>
          <span class="error-msg" *ngIf="restartForm.get('password')?.errors?.['minlength']">Hasło musi mieć co najmniej 5 znaków.</span>
        </small>
      </div>

      <div>
        <p-button label="Wyślij" type="submit" [disabled]="!restartForm.valid"/>
      </div>
    </form>
  </div>
</div>
