@import "primeicons/primeicons.css";
@import '@ctrl/ngx-emoji-mart/picker';

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('assets/backgroundChat.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-password {
  width: 100%;
}

.p-password:has(.p-password-toggle-mask-icon) .p-password-input {
  width: 100%;
}

.p-progressspinner {
  display: block !important;
}

@media (max-width: 520px) {
  .p-button, .p-inputtext {
    padding: .5rem !important;
    font-size: .8rem !important;
  }
}
