.container {
  display: flex;
  margin: 0.7rem;
  height: calc(100dvh - 72px);
  align-items: start;
  justify-content: center;
}

.users {
  flex: 1;
}

.chat {
  flex: 3;
  height: 100%;
}

.mobile-menu {
  position: absolute;
  top: 5.5rem;
  left: .1rem;
  z-index: 1;
}

@media (max-width: 520px) {
  .container {
    /*height: calc(100dvh - 185px);*/
  }
}
