.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.container-reset {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0);
  background: rgb(103 103 103 / 80%);
  max-width: 452px;
}

.error-msg {
  color: #ff0000;
  font-size: 14px;
}

.btn-reset {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 520px) {
  .container {
    font-size: .8rem;
  }
}
