<div class="container">
  <div class="container-reset ">
    <h2>Wprowadz swój adres E-mail w celu wysłania linku restartującego hasło</h2>

    <p-floatlabel variant="on">
      <input style="width: 100%" [(ngModel)]="email" required email pInputText #emailInput="ngModel">
      <label>Email</label>
    </p-floatlabel>
    <small class="error-message" *ngIf="emailInput.invalid && emailInput.touched">
      <span class="error-msg" *ngIf="emailInput.errors?.['required']">Email jest wymagany.</span>
      <span class="error-msg" *ngIf="emailInput.errors?.['email']">Podaj poprawny adres email.</span>
    </small>

    <div class="btn-reset">
      <p-button label="Wyślij" [disabled]="emailInput.invalid || !emailInput.value" (onClick)="sendEmail()"/>
      <p-button label="Anuluj" severity="danger" (click)="cancel()"></p-button>
    </div>
  </div>
</div>
