<div class="container">
  <p-select #sel [options]="users" optionLabel="email" placeholder="Dodaj nowy czat" filter="true"
            emptyMessage="Brak danych" (onChange)="handleUserSelect($event.value, sel)"
            emptyFilterMessage="Brak danych"
  />
  <ng-container *ngIf="chats.length > 0">
    <p-listbox [options]="chats"
               [filter]="true"
               optionLabel="name"
               [(ngModel)]="selectedChat"
               (onChange)="onChange($event.value)" emptyFilterMessage="Brak czatów">
      <ng-template #item let-chat>
        <div class="chat-info">
          <div>{{ chat.name }}</div>
          <p-badge *ngIf="chat.unreadMessages > 0" [value]="chat.unreadMessages"></p-badge>
        </div>
      </ng-template>
    </p-listbox>
  </ng-container>
</div>
