<ng-container *ngIf="selectedChat(); else noChat">
  <div class="chat-window">
    <div class="chat-header">
      <p>{{ selectedChat()?.name }}</p>
    </div>
    <div #scrollableDiv class="chat-messages-container">
      <ng-container *ngIf="!loading else loadingTemplate">
        <div class="chat-messages">
          <div *ngIf="!allMessagesLoaded && messages.length > 0" class="load-more-btn">
            <p-button type="button" label="Załaduj więcej" (click)="loadMoreMessages()"></p-button>
          </div>

          <ng-container *ngFor="let message of messages">
            <ng-container *ngIf="!message.isMsgCountInfo else msgCountInfo">
              <div class="message" [ngClass]="message.senderId === senderId ? 'sender' : 'receiver'">
                <div class="message-content">
                  <div class="msg-time">{{ message.createdDate | date: 'short' }}</div>
                  <div class="msg-content">{{ message.content }}</div>
                </div>
              </div>
            </ng-container>
            <ng-template #msgCountInfo>
              <div class="unread-line">
                Nieprzeczytane wiadomości
              </div>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="loading">
          <p-progressSpinner class="custom-spinner" ></p-progressSpinner>
        </div>
      </ng-template>
    </div>
    <div class="input-container">
      <div class="input">
        <input type="text" pInputText [(ngModel)]="text" placeholder="Napisz wiadomość ..."
               (keydown)="keyDown($event)" (focus)="setMessageToSeen()"/>
      </div>
      <div class="send-btn">
        <p-button severity="help" icon="pi pi-face-smile" (onClick)="showEmojis = !showEmojis"></p-button>
        <p-button icon="pi pi-send" (onClick)="sendMsg()"></p-button>
        <ng-container *ngIf="showEmojis">
          <emoji-mart
            class="emojis-panel"
            (emojiClick)="onSelectEmojis($event)"
          ></emoji-mart>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noChat>
  <div class="no-chat">
    <div class="no-chat-info">
      <h1>Wybierz czat aby rozpocząć ...</h1>
    </div>
  </div>
</ng-template>

