.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  margin-left: .5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.chat-header {
  display: flex;
  border-radius: 1rem;
  padding-left: .5rem;
  background-color: #cdcdcd;
}

.chat-messages-container {
  flex: 1;
  overflow-y: auto;
  margin: 1rem;
  padding: 0 1rem;
  scrollbar-color: #27a968 #2f2828;
  scrollbar-width: thin;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.load-more-btn {
  text-align: center;
  margin-bottom: .6rem;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sender{
  display: flex;
  align-items: center;
  justify-content: end;
}

.sender .message-content {
  background: #0d082d;
}

.receiver{
  display: flex;
  align-items: center;
  justify-content:  start;
}

.receiver .message-content {
  background: #413838;
}

.sender .message-content::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  border-width: 0 0 25px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #0d082d;
}

.receiver .message-content::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  border-width: 0 10px 25px 0;
  border-style: solid;
  border-color: transparent #413838 transparent transparent;
}

.message-content {
  position: relative;
  display: flex;
  justify-content: inherit;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  flex-direction: column;
}

.msg-time {
  display: flex;
  justify-content: inherit;
  font-size: .8rem;
  color: #a1a1a1;
}

.msg-content {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.loading {
  height: 100%;
}

.custom-spinner {
  display: flex;
  height: 100%;
  align-items: center;
}

.input-container {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.input {
  flex: 1;

  .p-inputtext {
    width: 100%;
  }
}

.send-btn {
  display: flex;
  margin-left: .2rem;
  gap: .2rem;
}

.emojis-panel {
  position: absolute;
  right: 55px;
  bottom: 75px;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-chat-info {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.unread-line {
  position: relative;
  display: flex;
  margin: 0 0 2rem 0;
  justify-content: center;
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-weight: 900;
  background: purple;
  text-align: center;
  z-index: 1;
}

.unread-line::before,
.unread-line::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1.75rem solid transparent;
  border-bottom: 1.75rem solid transparent;
}

.unread-line::before {
  left: -1rem;
  border-right: 1rem solid purple;
}

.unread-line::after {
  right: -1rem;
  border-left: 1rem solid purple;
}

@media (max-width: 520px) {
  .emojis-panel {
    right: -10px;
  }
}
