.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  margin-left: .5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.chat-header {
  display: flex;
  border-radius: 1rem;
  padding-left: .5rem;
  background-color: #cdcdcd;
}

.chat-messages-container {
  flex: 1;
  overflow-y: auto;
  margin: 1rem;
  padding: 0 1rem;
  scrollbar-color: #27a968 #2f2828;
  scrollbar-width: thin;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.load-more-btn {
  text-align: center;
  margin-bottom: .6rem;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sender{
  display: flex;
  align-items: center;
  justify-content: end;
}

.sender .message-content {
  background: #0d082d;
}

.receiver{
  display: flex;
  align-items: center;
  justify-content:  start;
}

.receiver .message-content {
  background: #413838;
}

.sender .message-content::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  border-width: 0 0 25px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #0d082d;
}

.receiver .message-content::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  border-width: 0 10px 25px 0;
  border-style: solid;
  border-color: transparent #413838 transparent transparent;
}

.message-content {
  position: relative;
  display: flex;
  justify-content: inherit;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  flex-direction: column;
}

.msg-time {
  display: flex;
  justify-content: inherit;
  font-size: .8rem;
  color: #a1a1a1;
}

.msg-content {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.loading {
  height: 100%;
}

.custom-spinner {
  display: flex;
  height: 100%;
  align-items: center;
}

.input-container {
  display: flex;

  width: 100%;
  padding: 1rem;
}

.input {
  flex: 1;

  .p-inputtext {
    width: 100%;
  }
}

.send-btn {
  display: flex;
  margin-left: .2rem;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-chat-info {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}
